@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-slide">
    <div class="slide-image"></div>
</div>

<div class="wrapper">
    <section class="slide-text">
        <h1>Family + Fun</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>

    <div class="slide-right">
    <section class="more-info">
        <div>
            <h2>Insurance</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <button>Find out more</button>
        </div>
    </section>

    <section class="more-info">
        <div>
            <h2>Policies</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <button>Find out more</button>
        </div>
    </section>
    </div>
</div>